@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
 
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    background-color: #402703;
    display: inline-block;
    padding: 15px 30px;
    border: var(--border);
    border-radius: var(--border-radius);
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
    
}

.header .logo i {
    padding-left: .5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

	
    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	color: #C2A375;
    }

    .navbar a:hover{
       	color: #C2A375;
	border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
    }

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.dropbtn {
background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
  color: #C2A375;
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .1rem;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HOME */

.home {
    min-height: 100vh;
    padding-top: 25rem;
    background: url(../image/fresh.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 900rem;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.home .row .content p{
    font-size: 1.2rem;
    color: var(--main-color);
    
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

/* ABOUT */

.about .row {
    display: flex;

    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 50rem;
}

.about .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content {

    flex: 1 1 35rem;
}

.about .row .content .title {
    
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    text-transform: none;
   
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img {
    height: 5rem;
}

.about .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

/* MENU */

.menu {
    background: url(../image/menuheader.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img {
    height: 15rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .box .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}

/* COFFEE MENU */

.menuDrink{
	background: url(../image/coffeemenu.png) no-repeat;
}

.menuDrink .headings h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: #402703;
    margin: 0; 
}
.menuDrink .headings h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #816b4a;
    margin-top: 10px; 
    margin-bottom: 0; 
}
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-content: space-around;
    gap: 2rem;
    border-radius: 1.5rem;
    padding: 20px;
    max-width: 1200px;
    margin: 10px;
}
.product-box {
    background: rgba(72, 60, 50, 0.6);
    padding: 10px;
    border-radius: 1.5rem;
    display: flex;
    position: relative;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.734);

}
.product-box img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    max-height: 100%;
}
.product-box h2{
    font-size: 15px;
    color: #FFF8E1;
}
.product-box:hover{
    transform: rotateY(180deg);
}
.frontSide{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.frontSide, .backSide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.backSide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}
.backSide p{
    text-align: center;
    padding: 7px;
    color: #FFF8E1;
    font-size: 13px;
}
.backSide span{
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFF8E1;
    font-size: 12px;
}
.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
}

/*Food Menu */


.menucard {
    background: url(../image/foodmenu.png) no-repeat;
    position: relative;
    overflow: hidden;
    height: 250px; 
    width: 250px; 
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.734);
    cursor: pointer;
  }
.menucard img {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem;
    object-fit: cover;
}
  
.information {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(27, 27, 27, 0.75); 
    padding: 4px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.menucard h2, .menucard p, .menucard span {
  text-align: center; 
} 
.menucard h2 {
    margin: 0;
    font-size: 14px;
    color: #FFF8E1;
}
  
.menucard p {
    font-size: 12px;
    color: #FFF8E1;
    margin: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.menucard span{
    text-align: left;
    position: absolute;
    color: #FFF8E1;
    font-size: 11px;
}
.menucard:hover .information {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.85); 
}
.menucard:hover p {
    opacity: 1; 
}  
.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*shop*/


.menu .box-container .shop {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .shop:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .shop img {
    height: 20rem;
    margin-left: 0rem;
}

.menu .box-container .shop .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .shop .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .shop .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}

/*coffee beans*/


.menu .box-container .coffeebeans {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .coffeebeans:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .coffeebeans img {
    height: 30rem;
    margin-left: 10rem;
}

.menu .box-container .coffeebeans .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .coffeebeans .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .coffeebeans .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}

/* BOOK */

.book {
    background: url(../image/fresh.png);
    background-position: center;
    background-size: cover;
}

.book form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.book form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}





/* REVIEW */

.review .review-slider {
    padding: 7rem 0;
}

.review .review-slider .box {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
}

.review .review-slider .box .fa-quote-left {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box .fa-quote-right {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.review .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.review .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.review .review-slider .box .stars {
    padding: .5rem 0
}

.review .review-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.review .review-slider .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.review .review-slider .box h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.review .review-slider .box span {
    font-size: 1.5rem;
    color: var(--main-color);
}

.swiper-pagination-bullet {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

/* BOOK */

.book {
    background: url(../image/booking.png);
    background-position: center;
    background-size: cover;
}

.book form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.book form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}








/* MEDIA QUERIES */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	border-radius: 10px;
	width: 700px;
    	margin-bottom: 20px;

    }
	
    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	color: #E2A165;
    }

    .navbar a{
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .navbar a:hover{
       	color: #E2A165;
	border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
    }


    .home {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }

    .menu .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
	
    }

    .menu .box-container .box img {
        margin-left: 0;
        margin-top: -6rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .row .image img {
        height: auto;
        width: 100%;
    }
}
/*branches*/
brands {
    min-height: 150vh;
    padding: 20rem 10%;
    position: relative;
    overflow: hidden;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
  .brand:last-child {
    margin-bottom: 20rem;
  }
  .brand h2 {
    font-size: 60px;
    color: var(--black);
    margin-bottom: 1rem;
  }

  .brand p {
    font-size: 15px;

  }
  .brand img {
    height: 40rem;
  }
  .brand .img {
    flex: 1;
  }
  .brands .desc {
    flex: 1;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .brand.row-reverse .img {
    display: flex;
    justify-content: flex-end;
  }
  .brands .bottom-img {
    position: absolute;
    right: -15rem;
    bottom: -4rem;
    z-index: 2;
  }
.brand {
    margin-bottom: 20px;
    overflow: hidden;
}

.brand .img {
    float: left;
    width: 50%;
}

.brand img {
    width: 100%;
    height: auto;
}

.brand .desc {
    float: left;
    width: 50%;
    background-color: #f0f0f0; 
    padding: 20px;
}

.brand.light .desc {
    background-color: #e0ffe0;
}

.brand.middle .desc {
    background-color: #f0e0ff; 
}

.brand.dark .desc {
    background-color: #e0e0e0; 
}
   /*WORKSHOPS*/
.workshops {
    background-color: #f5f5f5; /* Light background for contrast */
    padding: 40px 0; /* Add spacing for visual breathing room */
    text-align: center; 
    
  }

  /* Image positioning and styling */
  .workshops .img {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;/* Keep images in-line with content */
    margin-left: 33rem;
    border-spacing: 25px;
    text-align: left;
 
  }
  .workshops .img img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-right: 20px; /* Add spacing between images */
  }

  
  /* Content styling */
  .workshops .content {
    display: inline-block; /* Keep content in-line with images */
    width: 50%; /* Adjust content width as needed */
    vertical-align: top; 
    justify-content: center;/* Align content with images vertically */
  }
  
  .workshops .content h2 {
    font-size: 20px; /* Prominent heading for visual hierarchy */
    margin-bottom: 10px; /* Add spacing below heading */
  }
  
  .workshops .content p {
    font-size: 20px; /* Readable font size for content */
    line-height: 1.5; /* Comfortable line height for reading */
  }
  
  /* Button styling */
  .workshops .btn {
    background-color: #402703;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }
  .workshops .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 42rem; 
  }
  
  .workshops .btn {
    margin-top: 25px; 
  }

  @media (max-width: 768px) { 
    .workshops .img {
      width: 50%; 
    }
  }
  
  @media (max-width: 480px) { 
    .workshops .img {
      width: 100%; 
      margin-bottom: 30px; 
    }
  }

/* DESSERT SECTION */
/* Desserts Title Section */
.desserts-title {
    background-image: url('image\booking.png');
    background-size: cover;
    background-position: center;
    padding: 50px 60px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 40px auto;
    max-width: 1250px;
    color: white;
}

/* H1 için Akıcı Renk Değişimi Animasyonu */
@keyframes smoothColorChange {
    0% { color: #e0c795; } /* Lavanta Mavisi */
    25% { color: #c19f8f; } /* Açık Pembe */
    50% { color: #ebac87; } /* Gök Mavisi */
    75% { color: #b28b6b; } 
    100% { color: #fafafa; } /* Lavanta Mavisi */
}

h1 {
    animation: smoothColorChange 5s linear infinite;
}

.desserts-title h2 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(90deg, #ff9292, #f0d26b, #78d6f0, #a78df0, #f0a7a0);
    background-size: 500% 500%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-text 5s ease infinite;
}

@keyframes rainbow-text {
    0%,100% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
}

#desserts {
    background: #ffffff;
    padding: 2rem 0;
    animation: backgroundChange 10s infinite;
}


#desserts .section-title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2rem;
}

#desserts .menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: start;
}

#desserts .menu-list li {
    background: #fff;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation: boxColorChange 8s infinite;
}



#desserts .menu-list li:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

#desserts .menu-list li h3,
#desserts .menu-list li p,
#desserts .menu-list li .price {
    margin: 10px 0;
    padding-left: 20px;
}

.dessert-image {
    max-width: 100%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}


#desserts .menu-list li h3, 
#desserts .menu-list li p, 
#desserts .menu-list li .price {
    margin: 10px 0; /* Maintain existing margin */
    padding-left: 20px; /* Add padding to the left of the text */
}

/* TEA SECTION */
/* Teas Title Section */
.teas-title {
    background-size: cover;
    background-position: center;
    padding: 50px 60px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 40px auto;
    max-width: 1250px;
    color: white;
}

.teas-title h2 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(90deg, #ff9292, #f0d26b, #78d6f0, #a78df0, #f0a7a0);
    background-size: 500% 500%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-text 5s ease infinite;
}

/* Duplicate the keyframes from the dessert section */
@keyframes rainbow-text {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

#drinks {
    background: #ffffff;
    padding: 2rem 0;
}

#drinks .section-title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2rem;
}

#drinks .menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: start;
}

#drinks .menu-list li {
    background: #fff;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#drinks .menu-list li:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

#drinks .menu-list li h3, #drinks .menu-list li p, .price {
    margin: 10px 0;
}

/* Styles for the tea images */
.drink-image {
    max-width: 100%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
}

#drinks .menu-list li h3, 
#drinks .menu-list li p, 
#drinks .menu-list li .price {
    margin: 10px 0;
    padding-left: 20px;
}
